@import url('https://fonts.googleapis.com/css2?family=Jersey+10&display=swap');
/* @import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Baumans&family=Bebas+Neue&display=swap');

@import "tailwindcss";


@theme {
  --font-jersey : "Jersey 10";
  --font-poppins : "Poppins";
  --font-bebas : "Bebas Neue", sans-serif;
  --font-baumans : "Baumans",system-ui,
}